.video-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.overlay {
  position: absolute;
  background-color: black;
  color: aqua;
  width: 100%;
  height: 100%;
  opacity: 80%;
  z-index: -1;
}

.home-text {
  color: rgba(255, 255, 255, 0.9);
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  transition: 0.5s;
  opacity: 10%;
}

.home-text:hover {
  opacity: 100%;
  transition: 0.5s;
}

.top-text {
  font-size: 96px;
}
